<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softsum.jxd.learn">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Yaogan1">
            <intent-filter>
                <action android:name="android.suftsum.activity.YAOGAN1" />
                <category android:name="android.suftsum.category.YAOGAN1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Kanmeizi">
            <intent-filter>
                <action android:name="android.suftsum.activity.KANMEIZI" />
                <category android:name="android.suftsum.category.KANMEIZI" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".KanmeiziRecyclerview">
            <intent-filter>
                <action android:name="android.suftsum.activity.KANMEIZIRECYC" />
                <category android:name="android.suftsum.category.KANMEIZIRECYC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BottomNavigationBarActivity"
            android:label="@string/title"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.suftsum.activity.BOOTOM_N_B" />
                <category android:name="android.suftsum.category.BOOTOM_N_B" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DynamicDex">
            <intent-filter>
                <action android:name="android.suftsum.activity.DEX_TEST" />
                <category android:name="android.suftsum.category.DEX_TEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FileSystemTest.FileSystemActivity">
            <intent-filter>
                <action android:name="android.suftsum.activity.FILE_TEST" />

                <category android:name="android.suftsum.category.FILE_TEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".jniTest.JniTestActivity">
            <intent-filter>
                <action android:name="android.suftsum.activity.JNI_TEST" />
                <category android:name="android.suftsum.category.JNI_TEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".degger2Test.DeggerTestActivity">
            <intent-filter>
                <action android:name="android.suftsum.activity.DEGGER_TEST" />
                <category android:name="android.suftsum.category.DEGGER_TEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>